php_value post_max_size 110M
php_value upload_max_filesize 100M
php_value max_execution_time 300

<IfModule mod_rewrite.c>

    # <IfModule mod_negotiation.c>
    #     Options -MultiViews -Indexes
    # </IfModule>

    # RewriteEngine On
    # RewriteBase /corrol/

    # # Handle Authorization Header
    # RewriteCond %{HTTP:Authorization} .
    # RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # # Redirect Trailing Slashes If Not A Folder...
    # RewriteCond %{REQUEST_FILENAME} !-d
    # RewriteCond %{REQUEST_URI} (.+)/$
    # RewriteRule ^ %1 [L,R=301]

    # # Send Requests To Front Controller...
    # RewriteCond %{REQUEST_FILENAME} !-d
    # RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteRule ^ index.php [L]

    RewriteEngine On

    # Si la petición busca un archivo o carpeta real dentro de public/, sírvelo directamente
    RewriteCond %{REQUEST_URI} !^/corrol/public/
    RewriteCond %{DOCUMENT_ROOT}/corrol/public/$1 -f [OR]
    RewriteCond %{DOCUMENT_ROOT}/corrol/public/$1 -d
    RewriteRule ^(.*)$ public/$1 [L]

    # Para cualquier otra ruta de Laravel, canalízala al front controller de public
    RewriteCond %{REQUEST_URI} !^/corrol/public/
    RewriteRule ^(.*)$ public/index.php [L,QSA]
</IfModule>

