@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --color-slate-950: #09090b;
    --color-slate-900: #18181b;
    --color-slate-800: #27272a;
    --color-slate-700: #3f3f46;
    --color-slate-600: #52525b;
    --color-slate-500: #71717a;
    --color-slate-400: #a1a1aa;
    --color-slate-300: #d4d4d8;
    --color-slate-200: #e4e4e7;
    --color-slate-100: #f4f4f5;
    --color-indigo-950: #2e1065;
    --color-indigo-900: #4c1d95;
    --color-indigo-800: #5b21b6;
    --color-indigo-600: #7c3aed;
    --color-indigo-500: #8b5cf6;
    --color-indigo-400: #a78bfa;
    --color-indigo-300: #c4b5fd;
    --color-amber-400: #ffb020;
    --color-emerald-600: #047857;
    --color-emerald-500: #059669;
    --color-emerald-400: #34d399;
    --color-emerald-300: #6ee7b7;
    --color-rose-600: #be123c;
    --color-rose-500: #e11d48;
    --color-rose-400: #fb7185;
    --color-rose-300: #fda4af;
    --color-amber-300: #FFD066;
    --color-amber-500: #FFB020;
    --color-amber-600: #E0930B;
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* JERARQUIA DE ENCABEZADOS
h1 {
    font-weight: bold;
    font-size: var(--text-3xl);
}
h2 {
    font-weight: bold;
    font-size: var(--text-2xl);
}
h3 {
    font-weight: bold;
    font-size: var(--text-lg);
}
h4{
    font-weight: bold;
    font-size: var(--text-base);
    text-decoration: underline;
}
h5 {
    font-weight: bold;
    font-size: var(--text-base);
}
h6 {
    font-weight: bold;
    font-size: var(--text-base);
    font-style: italic;
}*/